/* base */
@import "./base/reset.scss";
@import "./base/grid.scss";
@import "./base/body.scss";

@import "./home.scss";

/* layout */
@import "./layout/header.scss";
@import "./layout/footer.scss";

/* pages */
@import "./pages/home/banner.scss";
@import "./pages/home/productivity.scss";
@import "./pages/home/course.scss";
@import "./pages/home/skills.scss";
@import "./pages/home/target.scss";
@import "./pages/home/instructors.scss";
@import "./pages/home/stories.scss";
@import "./pages/home/learn.scss";
@import "./pages/home/curriculum.scss";
@import "./pages/home/certificate.scss";
@import "./pages/home/price.scss";
@import "./pages/home/questions.scss";
@import "./pages/home/contact.scss";
