/* footer */
.footer {
  width: 100%;
  margin-top: 150px;

  &-top {
    display: flex;
    gap: 50px;

    /* LEFT */
    &-left {
      &-img {
        img {
          width: 100%;
          display: block;
        }
      }

      &-text {
        line-height: 1.5;
        margin-top: 35px;

        p {
          font-size: 18px;
          font-weight: 400;
          color: rgb(239, 238, 255);
        }
      }

      &-icon {
        display: flex;
        gap: 20px;
        margin-top: 35px;
      }

      &-input {
        display: flex;
        gap: 10px;
        margin-top: 35px;
      }
    }

    /* MID */
    &-mid {
      &-info {
        display: flex;
        flex-direction: column;
        gap: 20px;

        &-item {
          display: flex;
          gap: 15px;

          p {
            font-size: 21px;
            font-weight: 500;
            color: rgb(239, 238, 255);
          }
        }

        &-item-2 {
          display: flex;
          gap: 15px;

          p {
            font-size: 16px;
            font-weight: 400;
            color: rgb(239, 238, 255);
          }
        }
      }

      &-lish {
        display: flex;
        gap: 30px;
        margin-top: 75px;

        &-item {
          display: flex;
          flex-direction: column;
          gap: 20px;

          p {
            font-size: 16px;
            font-weight: 400;
            color: rgba(239, 238, 255, 0.75);

            &:hover {
              color: rgb(158, 138, 251);
            }
          }
        }
      }
    }

    /* RIGHT */
    &-right {
      &-content {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding-left: 40px;
        margin-top: 40px;

        h4 {
          font-size: 26px;
          font-weight: 500;
          color: rgb(158, 138, 251);
        }

        p {
          font-size: 16px;
          font-weight: 400;
          color: rgb(239, 238, 255);
          line-height: 1.5;
        }

        span {
          font-size: 16px;
          font-weight: 400;
          color: rgb(158, 138, 251);
        }

        &-btn {
          padding: 10px;
          border-radius: 999px;
          color: #fff;
          font-weight: 600;
          font-size: 15px;
          background: linear-gradient(
            180deg,
            var(--purple-mid),
            var(--purple-dark)
          );
          border: none;
          cursor: pointer;

          &:hover {
            background: #6316ff;
          }
        }
      }
    }
  }

  /* END */
  &-end {
    display: flex;
    margin-top: 100px;
    margin-bottom: 50px;

    &-text {
      border-right: 1px solid rgba(239, 238, 255, 0.75);
      padding-right: 10px;

      p {
        font-size: 14px;
        font-weight: 400;
        color: rgba(239, 238, 255, 0.47);
      }
    }

    &-text-2 {
      border-right: 1px solid rgba(239, 238, 255, 0.75);
      padding: 0 10px;

      p {
        font-size: 14px;
        font-weight: 400;
        color: rgba(239, 238, 255, 0.47);
      }
    }

    &-text-3 {
      padding-left: 10px;

      p {
        font-size: 14px;
        font-weight: 400;
        color: rgba(239, 238, 255, 0.47);
      }

      span {
        font-size: 14px;
        font-weight: 400;
        color: rgb(158, 138, 251);
      }
    }
  }
}

/* icon */
.footer-top-icon {
  color: rgb(158, 138, 251);
  font-size: 25px;
}
