.header {
  &-top {
    &-title {
      font-size: 80px;
      line-height: 1.1em;
      margin-top: 110px;
      color: #efeeff;
    }

    &-center {
      margin-top: 170px;
      gap: 20px;
      &-btn {
        padding: 20px;
        border-radius: 999px;
        color: rgb(239, 238, 255);
        font-weight: 600;
        font-size: 18px;
        background: linear-gradient(
          180deg,
          var(--purple-mid),
          var(--purple-dark)
        );
        border: none;
        cursor: pointer;
        border: 1px solid #6938ef;
        &:hover {
          background: #6316ff;
        }
      }

      &-text {
        font-size: 24px;
        line-height: 1.3;
        color: rgba(239, 238, 255, 0.75);
      }
    }

    &-img {
      margin-top: 70px;

      img {
        display: block;
        width: 100%;
      }
    }
  }

  &-bottom {
    gap: 20px;

    &-item {
      gap: 20px;

      &-icon {
        width: 80px;
        height: 80px;
        background-color: #6938ef;
        border-radius: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &-text {
        display: flex;
        align-items: center;
        line-height: 1.3;
        font-size: 21px;
        color: #efeeff;
      }
    }
  }
}

/* button */
.btn {
  &--large {
    font-size: 20px;
  }
}

/* icon */
.header-icon {
  font-size: 46px;
  color: white;
}
