.navbar {
  position: sticky;
  top: 10px;
  z-index: 1000;
  &-bar {
    padding: 5px;
    background: linear-gradient(
      to bottom,
      rgb(192, 181, 249) 0%,
      rgba(228, 224, 252, 0.799) 40%,
      rgba(239, 235, 255, 0.871) 70%,
      rgb(255, 255, 255) 100%
    );
    border-radius: 35px;
    margin-top: 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
    &-top {
      &-img {
        img {
          display: block;
          width: 100%;
        }
      }
      &-lish {
        gap: 30px;
        margin: auto;
        font-size: 18px;
        li {
          &:hover {
            color: rgb(105, 56, 239);
          }
        }
      }
      &-btn {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 2px;
        button {
          padding: 15px 35px;
          border-radius: 999px;
          color: rgb(239, 238, 255);
          font-weight: 600;
          font-size: 16px;
          background: linear-gradient(
            180deg,
            var(--purple-mid),
            var(--purple-dark)
          );
          border: none;
          cursor: pointer;
          &:hover {
            background: #6316ff;
          }
        }
      }
    }
  }
}
