.curriculum {
  width: 100%;
  display: flex;
  margin-top: 160px;
  gap: 60px;
  &-lish {
    max-height: 470px;
    overflow-y: auto;
    position: relative;
    padding-right: 10px;
    box-sizing: content-box;
    /* fade states */
    &.fade-bottom {
      -webkit-mask-image: linear-gradient(
        to bottom,
        black 0%,
        black calc(100% - 40px),
        transparent 100%
      );
    }
    &.fade-both {
      -webkit-mask-image: linear-gradient(
        to bottom,
        transparent 0%,
        black 40px,
        black calc(100% - 40px),
        transparent 100%
      );
    }
    &.fade-top {
      -webkit-mask-image: linear-gradient(
        to bottom,
        transparent 0%,
        black 40px,
        black 100%
      );
    }
    /* fallback */
    mask-image: inherit;
    /* scrollbar */
    &::-webkit-scrollbar {
      width: 8px;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background: linear-gradient(to bottom, #9b7bff, #6c3cff);
      border-radius: 10px;
    }
    /* item */
    &-item {
      width: 100%;
      background-color: #260f62;
      margin-bottom: 5px;
      padding: 40px;
      display: flex;
      flex-direction: column;
      gap: 15px;
      &:first-child {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
      }
      &:last-child {
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
      }
      h3 {
        font-size: 26px;
        font-weight: 500;
        color: rgb(239, 238, 255);
        line-height: 1.4;
      }
      p {
        font-size: 18px;
        font-weight: 400;
        color: rgba(239, 238, 255, 0.75);
      }
      ul {
        font-size: 18px;
        font-weight: 400;
        color: rgba(239, 238, 255, 0.75);
        display: flex;
        flex-direction: column;
        gap: 25px;
        margin-top: 5px;
      }
      span {
        font-size: 26px;
        font-weight: 500;
        color: rgb(158, 138, 251);
      }
    }
  }
  &-introduce {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    margin-bottom: 40px;
    &-title {
      h2 {
        font-size: 54px;
        font-weight: 500;
        color: rgb(239, 238, 255);
        margin-bottom: 25px;
      }
      span {
        font-size: 54px;
        font-weight: 500;
        color: rgb(158, 138, 251);
      }
    }
    &-meta {
      display: flex;
      gap: 25px;
      margin-bottom: 20px;
      &-item {
        display: flex;
        gap: 10px;
        p {
          font-size: 18px;
          font-weight: 500;
          color: rgb(239, 238, 255);
          display: flex;
          align-items: center;
        }
      }
    }
    &-text {
      p {
        font-size: 20px;
        font-weight: 400;
        color: rgba(239, 238, 255, 0.75);
        line-height: 1.5;
      }
    }
  }
}
