.learn {
  margin-top: 190px;
  &-title {
    margin-bottom: 60px;
    font-size: 54px;
    font-weight: 500;
    color: rgb(239, 238, 255);
    line-height: 1.2;
    span {
      color: rgb(158, 138, 251);
      font-size: 54px;
      font-weight: 500;
    }
  }
  &-content {
    display: flex;
    flex-direction: column;
    gap: 60px;
    &-item {
      display: flex;
      gap: 30px;
      &-left {
        display: flex;
        gap: 30px;
        &-img {
          border-radius: 20px;
          overflow: hidden;
          img {
            width: 100%;
            display: block;
          }
        }
        &-text {
          display: flex;
          flex-direction: column;
          gap: 15px;
          justify-content: center;
          h4 {
            font-size: 26px;
            font-weight: 500;
            color: rgb(239, 238, 255);
            line-height: 1.3;
          }
          p {
            font-size: 18px;
            font-weight: 400;
            color: rgba(239, 238, 255, 0.75);
            line-height: 1.6;
          }
        }
      }
      &-right {
        display: flex;
        gap: 30px;
        &-img {
          border-radius: 20px;
          overflow: hidden;
          img {
            width: 100%;
            display: block;
            height: 100%;
            object-fit: contain;
          }
        }
        &-text {
          display: flex;
          flex-direction: column;
          gap: 15px;
          justify-content: center;
          h4 {
            font-size: 26px;
            font-weight: 500;
            color: rgb(239, 238, 255);
            line-height: 1.3;
          }
          p {
            font-size: 18px;
            font-weight: 400;
            color: rgba(239, 238, 255, 0.75);
            line-height: 1.6;
          }
        }
      }
    }
  }
}
