.skills {
  display: flex;
  width: 100%;
  margin-top: 300px;
  margin-bottom: 130px;
  border-radius: 40px;
  overflow: hidden;
  align-items: stretch;
  &-banner {
    background: linear-gradient(
      to left,
      rgb(167, 151, 247) 0%,
      rgba(200, 191, 252, 0.799) 40%,
      rgba(204, 193, 250, 0.871) 70%,
      rgb(253, 215, 255) 100%
    );
    img {
      width: 100%;
      height: 100%;
      display: block;
    }
  }
  &-content {
    padding: 60px 70px;
    background: linear-gradient(
      to bottom,
      rgb(192, 181, 249) 0%,
      rgba(228, 224, 252, 0.799) 40%,
      rgba(239, 235, 255, 0.871) 70%,
      rgb(255, 255, 255) 100%
    );
    &-title {
      font-size: 44px;
      text-align: center;
      margin-bottom: 30px;
    }
    &-text {
      display: flex;
      flex-direction: column;
      gap: 40px;
      &-item {
        display: flex;
        gap: 40px;
        &-left {
          display: flex;
          align-items: center;
          gap: 16px;
          p {
            font-size: 22px;
            line-height: 1.4;
          }
        }
        &-right {
          p {
            font-size: 18px;
            line-height: 1.6;
            color: #444;
          }
        }
      }
    }
  }
}

/* icon */
.skills-icon {
  font-size: 44px;
  color: #6938ef;
}
