.stories {
  width: 100%;
  margin-top: 160px;
  &-title {
    margin-bottom: 50px;
    font-size: 54px;
    font-weight: 500;
    color: rgb(239, 238, 255);
    line-height: 1.2;
    span {
      color: rgb(158, 138, 251);
      font-size: 54px;
      font-weight: 500;
    }
  }
  &-content {
    display: flex;
    gap: 30px;
    &-item {
      padding: 35px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      border-radius: 20px;
      background: linear-gradient(
        to bottom,
        rgb(192, 181, 249) 0%,
        rgba(228, 224, 252, 0.799) 40%,
        rgba(239, 235, 255, 0.871) 70%,
        rgb(255, 255, 255) 100%
      );
      &-text {
        font-size: 21px;
        font-weight: 500;
        color: rgba(11, 1, 36, 0.84);
      }
      &-poster {
        display: flex;
        gap: 20px;
        &-img {
          width: 54px;
          height: 54px;
          border-radius: 100px;
          overflow: hidden;
          img {
            width: 100%;
            display: block;
          }
        }
        &-name {
          display: flex;
          align-items: center;
          font-size: 18px;
          font-weight: 500;
          color: rgb(11, 1, 36);
        }
        &-position {
          display: flex;
          align-items: center;
          font-size: 16px;
          font-weight: 500;
          color: rgba(11, 1, 36, 0.68);
        }
      }
    }
  }
}
