.target {
  width: 100%;
  &-title {
    margin-bottom: 60px;
    h2 {
      color: rgb(239, 238, 255);
      font-size: 54px;
      font-weight: 500;
      line-height: 1.2;
    }
    span {
      color: rgb(158, 138, 251);
      font-size: 54px;
      font-weight: 500;
    }
  }
  &-content {
    &-lish {
      display: flex;
      margin-bottom: 35px;
      gap: 60px;
      &-left {
        display: flex;
        gap: 20px;
        &-icon {
          width: 80px;
          height: 80px;
          background-color: #6938ef;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 20px;
        }
        &-text {
          display: flex;
          align-items: center;
          font-size: 21px;
          color: rgb(239, 238, 255);
          line-height: 1.5;
        }
      }
      &-right {
        display: flex;
        gap: 20px;
        &-icon {
          width: 80px;
          height: 80px;
          background-color: #6938ef;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 20px;
        }
        &-text {
          display: flex;
          align-items: center;
          font-size: 21px;
          color: rgb(239, 238, 255);
          line-height: 1.5;
        }
      }
    }
  }
}

/* icon */
.target-icon {
  font-size: 46px;
  color: white;
}
